
/*
 * Font icon related styles
 */

.icon-xs {
  font-size: 5rem !important;
}

.icon-s {
  font-size: 6rem !important;
}

.icon-m {
  font-size: 7rem !important;
}

.icon-l {
  font-size: 8rem !important;
}

.icon-xl {
  font-size: 9rem !important;
}

.icon-xxl {
  font-size: 10rem !important;
}