
/*
 * Content related styles
 */

.content {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .content-overlay {
    padding: 2rem 0;
  }

  &.content-padding-l {
    .content-overlay {
      padding: 3rem 0;
    }
  }

  &.content-padding-xl {
    .content-overlay {
      padding: 4.5rem 0;
    }
  }

  &.content-padding-xxl {
    .content-overlay {
      padding: 6rem 0;
    }
  }

  .content-padding {
    padding: 1rem;
  }

  @include media-breakpoint-down(sm) {
    .content-padding {
      padding: 1rem 0;
    }
  }

  /* Sizing logos */

  .brands-s img {
    height: 24px;
    margin: 0.8rem;
  }
  
  .brands-m img {
    height: 32px;
    margin: 1rem;
  }
  
  .brands-l img {
    height: 48px;
    margin: 1.5rem;
  }
}